.kc_row .kc_col-sm-12{
  padding-left:0px !important;
  padding-right:0px !important; 
}
.admin-bar .header-area.stricky-fixed{
	top:32px;
}
.breadcrumb-area {
	background-image: url(../images/breadcrumb/breadcrumb-bg.jpg);
}

.single-sidebar ul li {
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 12px;
  padding-bottom: 11px;
}
.single-sidebar ul li:last-child {
  margin-bottom: 0;
}
.single-sidebar ul li a {
  color: #9a9a9a;
  transition: all 500ms ease;
  font-size: 16px;
  font-weight: 300;
}
.single-sidebar ul li a:hover{
  color: #d5ac63;    
}
.single-sidebar ul li:before {
	content: "\f105";
	font-family: 'FontAwesome';
	margin-right: 10px;
}
.single-sidebar ul.recent-post li:before {
	content: "";
	margin:0;
}

.comment-area .children {
	margin-left:50px;
}
.single-footer-widget .latest-project ul li {
    width: 23% !important;
}
.single-footer-widget .latest-project ul li .img-holder img {
	width:auto !important;
}
.no-sidebar-border .blog-post {
	border-right:0;
}
.no-sidebar-border .sidebar-wrapper {
	padding-left:0;
}
.header-area .toggle-search.opened .fa-search::before {
    content: "\f00d";
}
/*--------------------------theme check----------------------------------*/
	#wp-calendar {
		width: 100%;
	}
	#wp-calendar caption {
		text-align: right; 
		color: #333; 
		font-size: 12px; 
		margin-top: 10px;
		margin-bottom: 15px;
	}
	#wp-calendar thead { 
		font-size: 10px;
	}
	#wp-calendar thead th { 
		padding-bottom: 10px;
	}
	#wp-calendar tbody { 
		color: #aaa; 
	}
	#wp-calendar tbody td { 
		background: #f5f5f5; 
		border: 1px solid #fff; 
		text-align: center; 
		padding:8px;
	}
	#wp-calendar tbody td:hover { 
		background: #fff; 
	}
	#wp-calendar tbody .pad { 
		background: none; 
	}
	#wp-calendar tfoot #next { 
		font-size: 10px; 
		text-transform: uppercase; 
		text-align: right;
	}
	#wp-calendar tfoot #prev { 
		font-size: 10px; 
		text-transform: uppercase; 
		padding-top: 10px; 
	}
	
	.sticky .inner-box {background: #efefef; padding:10px; }
	.sticky .inner-box .thm-unit-test {border: 3px solid #fff; padding:20px !important; }
	.sticky .post .post-content{ background-color:transparent; }
	.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
	.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
	}
	.gallery-caption {
	font-family: 'Roboto', sans-serif;
  	font-size: 16px;
  	color: #9a9a9a;
  	line-height: 28px;
  	font-weight: 300;
	}
	.bypostauthor{
	font-family: 'Roboto', sans-serif;
  	font-size: 16px;
  	color: #9a9a9a;
  	line-height: 28px;
  	font-weight: 300;
	}
	.alignright{ 
		text-align:right;
	}
	.alignleft{ 
		text-align:left;
	}
	.aligncenter{ 
		text-align:center;
	}	
	.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/*************************************Theme Unit Testing***********************/
.thm-unit-test .sticky .single-blog-item{
	background:#fafafa;
	padding:15px;
}
.thm-unit-test h1,.thm-unit-test h2,.thm-unit-test h3,.thm-unit-test h4,.thm-unit-test h5,.thm-unit-test h6{
	font-family: "Poppins",sans-serif;
	margin-bottom:15px !important;
	font-weight:400 !important;
	color: #333333 !important;
	line-height:1.2em;
}
.thm-unit-test h2{
	margin:25px 0;
}
.thm-unit-test h2+h1+h2{
	margin:0 0 15px 0;
}
.thm-unit-test h1{
	font-size:36px;
}
.thm-unit-test h2{
	font-size:32px;
}
.thm-unit-test h3{
	font-size:28px !important;
}
.thm-unit-test h4,.thm-unit-test .text h4{
	font-size:26px;
}
.thm-unit-test h5{
	font-size:24px;
}
.thm-unit-test h6{
	font-size:20px;
}
.thm-unit-test table{
	margin-bottom:20px;
}
.thm-unit-test table thead tr th{
	border: 1px solid #ddd;
    vertical-align: bottom;
	padding:8px;
}
.thm-unit-test table tbody tr th{
	border: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.thm-unit-test table tbody tr td{
	border: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
/*.thm-unit-test ul:first-child,.thm-unit-test ol:first-child,
.comment-box .text ul:first-child,.comment-box .text ol:first-child,
.news-outer ul:first-child,.news-outer ol:first-child{
	padding:0px;
}*/
.thm-unit-test ul,.thm-unit-test ol{
	padding-left:40px;
}
.thm-unit-test ul li{
	list-style-type:disc;
	display:list-item;
}
.thm-unit-test ul li ul li{
	list-style-type:circle;
}
.thm-unit-test ul li ul li ul li{
	list-style-type:square;
}
.thm-unit-test ol li{
	list-style-type:decimal;
	display:list-item;
}
.thm-unit-test ol li ol li{
	list-style-type:lower-alpha;
}
.thm-unit-test ol li ol li ol li{
	list-style-type:upper-roman;
}
.thm-unit-test p img,.thm-unit-test figure img,.thm-unit-test img{
	max-width:100%;
	display:block;
	height:auto;
}
figure{
	max-width:100%;
	display:block;
}
.paginate-links {
	margin-top: 15px;
}
.paginate-links a,
.paginate-links > span {
    margin: 0 5px 7px 0;
    position: relative;
	border: 2px solid #d5ac63;
	background:#191919;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    min-width: 46px;
    padding: 10px 5px;
    text-align: center;
    text-transform: capitalize;
    transition: all 500ms ease 0s;
}
.paginate-links a:hover,
.paginate-links > span{
	background: #d5ac63 none repeat scroll 0 0;
    border-color: #d5ac63;
    color: #ffffff;
}
/****************Custom Widget*********************/
.widget_recent_comments ul li{
	padding:6px 0px 6px 0px;
}
.widget select{
	width:100%;
	display:block;
	border:1px solid #ededed;
	padding:6px 6px;
	margin-top:15px;
}
.textwidget img {
    height: auto;
    max-width: 100%;
}
.widget ul{
	padding-bottom:0px;
}
.widget ul li ul{
	padding:0px;
	margin:0px;
}
.widget ul li ul li{
	border-top:1px solid #eaeaea !important;
	border-bottom:none;
}
.thm-unit-test .share-box ul,.single-blog-item .text-holder .meta-info{
	padding-left:0px !important;
}
.thm-unit-test .share-box ul li{
	list-style-type:none !important;
	display:inline-block !important;
}
.thm-unit-test .share-box ul li img{
	display:inline-block !important;
}
.post-password-form input[type="password"]{
	border:1px solid #d5ac63;
	padding:5px 10px;
	display:inline-block;
}
.post-password-form input[type="submit"]{
	background:#d5ac63;
	color:#fff;
	padding:6px 15px; 
	display:inline-block;
	border:none;
	
}
.thm-unit-test .comment-area .int-comment-item .int-comment-item{
	margin-left:60px;
}
/*********************Custom Footer widget Styling************************/
.footer-widget h3{
	margin-bottom:30px;
}
.footer-column ul li a{
	padding:0px 0 10px;
}
.footer-column ul li a,.footer-column ul li,.footer-widget .textwidget p{
	color:#ffffff;
}
.footer-widget a{
	color:#fafafa;
}
.footer-widget select{
	width:100%;
	padding:6px;
	color:#222;
}
.footer-widget #wp-calendar caption{
	padding:0px;
	margin:0px 0 15px;
	font-size:14px;
	color:#ffffff;
}
.footer-widget #wp-calendar thead th{
	border:1px solid #fafafa;
	border-bottom:none;
	text-align:center;
	padding:0px;
	line-height:30px;
}
.footer-widget #wp-calendar tbody .pad{
	background:#fafafa;
}
.footer-widget .tagcloud a{
	color:#252525;
}
a{
	color:#d5ac63;
}
a:hover{
	color:#252525;
}
.blog-with-sidebar-area .blog-post .single-blog-item .text-holder{
	margin-top:-8px;
}
.blog-single-area .add-comment-box .title{
	padding-bottom:0px;
}
.thm-unit-test .comment-area .int-comment-item .default-form{
	margin-bottom:60px;
}
.thm-unit-test .comment-area .int-comment-item .default-form .title{
	padding-bottom:0px;
}
.thm-unit-test .comment-area .int-comment-item .default-form h2{
	margin:0px;
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
        white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.woocommerce #payment ul li{
	list-style-type:none;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ebebeb;
    height: 50px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 48px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 12px;
}
.footer-widget select{
	position:relative;
	padding:10px;
	border-radius:5px;
	width:100%;
	color:#000000;
	border:none;
}
.footer-widget #wp-calendar caption{
	color:#ffffff;
}
.footer-widget a{
	color:#ffffff;
}
.footer-widget a:hover{
	color:#cccccc;
}
.footer-widget #wp-calendar thead th { 
	padding-bottom: 4px;
	border: 1px solid #ffffff;
	text-align: center;
	color:#ffffff;
}
.footer-widget #wp-calendar tbody .pad{
	background:#f5f5f5;
}
.footer-widget #wp-calendar tbody .pad:hover{
	background:#f5f5f5;
}
.footer-widget .search-box .form-group{
	position:relative;
}
.footer-widget .search-box .form-group input[type=search]{    
	padding: 5px 45px 5px 10px;
    border-radius: 5px;
    color: #000000;
    width: 100%;
	position:relative;
}
.footer-widget .search-box .form-group button[type=submit]{
	padding: 5px 12px 4px;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
	background:#cccccc;
    right: 0px;
	top:0px;
    color: #000000;
}
.footer-widget.widget_tag_cloud .tagcloud a{
	color:#ffffff;
}
.footer-widget.widget_tag_cloud .tagcloud a:hover{
	color:#cccccc;
}
.footer-widget ul li{
	color:#ffffff;
	padding:0px;
}
.footer-widget ul li a{
	color:#ffffff;
	width:87%;
	display:inline-block;
}
.footer-area .footer-widget{
	padding-top:10px;
}
.footer-widget .title{
/*	margin-top:30px;*/
}
.footer-widget .textwidget p{
	color:#ffffff;
}