	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/11/2016 11:27
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}

.flaticon-24-hours:before { content: "\f100"; }
.flaticon-annual-calendar-symbol:before { content: "\f101"; }
.flaticon-arrows:before { content: "\f102"; }
.flaticon-building:before { content: "\f103"; }
.flaticon-clock:before { content: "\f104"; }
.flaticon-confirm-schedule:before { content: "\f105"; }
.flaticon-construction:before { content: "\f106"; }
.flaticon-cross:before { content: "\f107"; }
.flaticon-cup:before { content: "\f108"; }
.flaticon-dollar-symbol:before { content: "\f109"; }
.flaticon-drawing:before { content: "\f10a"; }
.flaticon-e-mail-envelope:before { content: "\f10b"; }
.flaticon-employee:before { content: "\f10c"; }
.flaticon-idea:before { content: "\f10d"; }
.flaticon-interface:before { content: "\f10e"; }
.flaticon-internet:before { content: "\f10f"; }
.flaticon-lock-padlock-symbol-for-protect:before { content: "\f110"; }
.flaticon-magnifying-glass:before { content: "\f111"; }
.flaticon-map-marker-point:before { content: "\f112"; }
.flaticon-multimedia:before { content: "\f113"; }
.flaticon-new-email-outline:before { content: "\f114"; }
.flaticon-people:before { content: "\f115"; }
.flaticon-people-1:before { content: "\f116"; }
.flaticon-right:before { content: "\f117"; }
.flaticon-search:before { content: "\f118"; }
.flaticon-signs:before { content: "\f119"; }
.flaticon-social:before { content: "\f11a"; }
.flaticon-technology:before { content: "\f11b"; }
.flaticon-technology-1:before { content: "\f11c"; }
.flaticon-user-silhouette:before { content: "\f11d"; }